/* menu principal supeior  */


ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    border-style: ridge;
    border-color: red;
  }

  li {

    float: left;

  }

  li a {
    margin-inline-start:230px;

    border-radius: 20px;
    border-style: double;
    border-color: aliceblue;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

    /*body*/

    body{
        background-color: rgba(17, 17, 17, 0.937);
        color: antiquewhite;
    }

    /*header*/
    header{
        background-color: #0F1821;
    }
    /* >>  banner  << */
    header img{
        width: 720px;
        margin-inline-start:425px;
    }

    /*main*/
   main{
    background-color: #111;
    margin-left: 525px;
    text-align: center;
    max-height: 2500px;
    max-width: 500px;
    border-radius: 30px;

   }



/* >>  explicação  << */
/* >>  explicação  << */
/* >>  explicação  << */
/* >>  explicação  << */

/*----------------------------------------------------*/

/* >>  dispositivos móveis  << */
