
/* header */
/* menu superior */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-color: aliceblue;
    border-style: outset;
    

  }
  
  li a:hover {
    background-color: grey;
    color: aliceblue;
  }
  
  /* body */
  
  body{
    background-color: #333;
    text-align: center;
  }
  /* ---------------------------------------------  */

    /* seletivaLine  */
    section #LOL{
      margin: 0%;
      padding: 0%;
    }
    main img{
      width: 900px;
      height: 350px;
      margin-left: 56px;
     
    
    }
    .seletivaLinelol{
      text-align: center;
      margin-left: 280px;
      width: 1000px;
      height: 1000px;
      background-color: aquamarine;

    }
    .seletivaLinelol p{
      font-style: oblique;
      font-size: 20px;

    }
    .infos p{
      font-style: oblique;
      font-size: 20px;
    }
    .sobre p{
      font-style: oblique;
      font-size: 20px;
    }
    
    .rotas img{
      float: left;
      width: 125px ;
      height: auto;
      margin-left: 5%;
      margin-right: 15px;

      border-style: ridge;
      border-color: blue;

    }
    
    .seletivaStafflol{}


    /* seletivaStaff  */
    section #VALORANT{}
    .seletivaLinevava{}
    .seletivaStaffvava{}

